#one, #two, #three {
    margin: 10px;
    display: flex;
    border: 1px solid black;
    height: 500px;
    justify-content: center;
    align-items:center;

    /* width: 30%; */
}

#one {
    flex-direction: column;
    border: none;
}

#two {
    flex-direction: column;
}

#three {
    flex-direction: column;
}

#container {
 display: flex;
 
}

#side {
    width: 50%;
    margin: 15px;
}

#main {
    margin: 15px;
}

.flex {
    display: flex;
    /* border: 1px solid black; */
    height: 100px;
    background-color: blanchedalmond;
    justify-content: center;
    color: white;
}

* {
    margin: 0px;
}

#header {
    color: white;
    font-weight: 800;
}

.list {
    list-style: none;
}

#inside {
    margin-right: 610px;
    margin-top: 10px;
}

#outside {
margin-left: 610px;
margin-top: 10px;
}